@model ConexaoBD.DAL.Model.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CriadoPor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CriadoPor)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.AlteradoPor)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.AlteradoPor)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MoradaCliente.TipoDeMorada)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MoradaCliente.TipoDeMorada)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MoradaCliente.Distrito)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MoradaCliente.Distrito)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MoradaCliente.Endereco)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MoradaCliente.Endereco)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MoradaCliente.CodigoPostal)
        </dt>
        <dd class = "col-sm-9">
            @{
                var codigopostal = Model.MoradaCliente.CodigoPostal;
                var zonapostal = Model.MoradaCliente.ZonaPostal;
            } 
            @(codigopostal + "-" + zonapostal)
            @*@Html.DisplayFor(model => model.MoradaCliente.CodigoPostal)*@
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MoradaCliente.Localidade)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MoradaCliente.Localidade)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Ficheiro)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Ficheiro)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar Cliente", "Edit", new { id = Model.Id }) |
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    @Html.ActionLink("Eliminar Cliente", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index", new { })
    @*<a asp-action="Index">Back to List</a>*@
</div>
