@model ConexaoBD.DAL.Model.Utilizador

@{
    ViewData["Title"] = "EditPwd";
}

<!--Ligação à biblioteca jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--Ligação ao ficheiro JavaScript geral.js-->
<script src="~/js/site.js"></script>

<h1>Alterar Password do Utilizador</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-1">
            @Html.DisplayNameFor(model => model.EmailLogin)
        </dt>
        <dd class = "col-sm-11">
            @Html.DisplayFor(model => model.EmailLogin)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPwd">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                @*<input hidden value="@Model.PasswordLogin" id="passwordAntiga">*@ <!--Falha de segurança - Não utilizar comentário HTML!!!-->
                @*<p>@Model.PasswordLogin</p>*@
                <label asp-for="PasswordAntiga" class="control-label"></label>
                <input asp-for="PasswordAntiga" class="form-control" placeholder="senha de pelo menos 6 caracteres"/>
                @*<input type="password" asp-for="PasswordAntiga" class="form-control" placeholder="senha de pelo menos 6 caracteres (obrigatória)" id="password"/>*@
                @*<div class="text-danger">@ViewBag.ErroPwdAntiga</div>*@
                <span asp-validation-for="PasswordAntiga" class="text-danger"></span>
                <span class="text-danger">@ViewBag.PasswordErrada</span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordNova" class="control-label"></label>
                <input asp-for="PasswordNova" class="form-control" placeholder="senha de pelo menos 6 caracteres"/>
                @*<input asp-for="PasswordNova" class="form-control" placeholder="senha de pelo menos 6 caracteres" id="passwordNova"/>*@
                <span asp-validation-for="PasswordNova" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordNovaConfirmacao" class="control-label"></label>
                <input asp-for="PasswordNovaConfirmacao" class="form-control" placeholder="senha igual à Senha Nova"/>
                @*<input type="password" asp-for="PasswordNovaConfirmacao" class="form-control" placeholder="senha igual à Senha Nova" id="passwordNovaConfirmacao"/>*@
                @*<div class="text-danger">@ViewBag.ErroPwdConfirmacao</div>*@
                <span asp-validation-for="PasswordNovaConfirmacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<input type="submit" value="Save" class="btn btn-primary" onclick="validateNewPassword();"/>*@
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
